@model CustomBikes.Models.Bicicleta

@{
    ViewBag.Title = "Montar Bike";
}

<br /><center><h2>Meus Pedidos</h2></center>

<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Corpo Modal Criar pedido -->
    <div class="modal fade" data-backdrop="static" id="modalCadastrar" tabindex="-1" role="dialog" aria-labelledby="modalCadastrarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <h6>Escolha suas peças !</h6>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, "Nome ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AroID, "Aro", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("AroID", null, "Selecione...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AroID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BancoID, "Banco", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("BancoID", null, "Selecione...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BancoID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoriaID, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoriaID", null, "Selecione...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoriaID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GuidaoID, "Guidao", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("GuidaoID", null, "Selecione...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GuidaoID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PneuID, "Pneu", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("PneuID", null, "Selecione...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PneuID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.QuadroID, "Quadro", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("QuadroID", null, "Selecione...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QuadroID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">@Html.ActionLink("Voltar", "Index")</button>
                    <input type="submit" value="Confirmar pedido" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <!-- Fim da modal Criar pedido -->


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#modalCadastrar').modal('show');
        });
    </script>
}
