@model CustomBikes.Models.Bicicleta

@{
    ViewBag.Title = "Delete";
}

<br /><center><h2>Meus Pedidos</h2></center>

<hr />

@*Model confirmar exclusão*@
<div class="modal fade" data-backdrop="static" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="modalExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExclusaoLabel">Deseja excluir seu pedido ?</h5>
            </div>
            <div class="modal-body">
         
                <div>
                  
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model._Aro.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Aro.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Banco.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Banco.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Categoria.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Categoria.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Guidao.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Guidao.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Pneu.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Pneu.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Quadro.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Quadro.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                    </dl>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">@Html.ActionLink("Voltar", "Index")</button>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value="Excluir" class="btn btn-primary"/>
                       
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*Fim Modal confirmar exclusão*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#modalExclusao').modal('show');
        });
    </script>
}


