@model IEnumerable<CustomBikes.Models.Bicicleta>


@{
    ViewBag.Title = "Meus Pedidos";
}

<div class"container">
    <div class="row">
        <div class="tituloPedidos col-md-7 text-right">
            <h2>Meus Pedidos</h2>
        </div>
        <div class="col-lg-4 botaoPedidos text-center">
            <a class="btn btn-primary" href="Create" target="_self">Novo pedido</a>
        </div>
    </div>
</div>

<hr />

@*Listagem de bikes do pedido*@

<center>
    <table class="table tabelaPedidos">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model._Aro.Nome)*@
                @Html.DisplayName("Aro")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model._Banco.Nome)*@
                @Html.DisplayName("Banco")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model._Categoria.Nome)*@
                @Html.DisplayName("Categoria")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model._Guidao.Nome)*@
                @Html.DisplayName("Guidão")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model._Pneu.Nome)*@
                @Html.DisplayName("Pneu")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model._Quadro.Nome)*@
                @Html.DisplayName("Quadro")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Nome)*@
                @Html.DisplayName("Nome da bike")
            </th>
            <th>
                <p>Gerenciar pedido</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._Aro.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Banco.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Guidao.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Pneu.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Quadro.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <button class="btn btn-primary">@Html.ActionLink("Editar", "Edit", new { id = item.BicicletaID })</button>
                    <button class="btn btn-primary">@Html.ActionLink("Excluir", "Delete", new { id = item.BicicletaID })</button>

                </td>
            </tr>
        }

    </table>

</center>

@*Fim da listagem de bikes do pedido*@


