@model IEnumerable<CustomBikes.Models.Bicicleta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Aro.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Banco.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Guidao.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Pneu.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Quadro.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Aro.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Banco.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Guidao.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Pneu.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Quadro.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BicicletaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BicicletaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BicicletaID })
        </td>
    </tr>
}

</table>
